[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	shallow = true
	branch = HEAD
[submodule "dblcens"]
	path = dblcens
	url = https://github.com/yfyang86/dblcens
	shallow = true
	registered = true
[submodule "kmc"]
	path = kmc
	url = https://github.com/yfyang86/kmc
	shallow = true
	registered = true
